workflow/sub-workflows/Static_Code_Analysis.json
{
  "name": "Static Code Analysis",
  "nodes": [
    {
      "parameters": {
        "url": "=https://sonarcloud.io/api/projects/search?organization={{$json.organization}}&ps=100&p=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        -208
      ],
      "id": "05a2a237-3473-417e-a613-94612b3d07ee",
      "name": "Check Existing SonarCloud Projects",
      "credentials": {
        "httpBearerAuth": {
          "id": "tZEU08zabP2OGRll",
          "name": "SonarQube Cloud Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sonarcloud.io/api/projects/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization",
              "value": "={{ $node[\"Prepare SonarCloud Project\"].json[\"organization\"] }}"
            },
            {
              "name": "project",
              "value": "={{ $node[\"Prepare SonarCloud Project\"].json[\"project\"] }}"
            },
            {
              "name": "name",
              "value": "={{ $node[\"Prepare SonarCloud Project\"].json[\"name\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -112
      ],
      "id": "8262e32b-59c1-4777-95ec-6efcf6555a5e",
      "name": "Create SonarCloud Project",
      "credentials": {
        "httpBearerAuth": {
          "id": "tZEU08zabP2OGRll",
          "name": "SonarQube Cloud Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "113ea85e-8d4b-4a58-b3e8-fc7e2d0b1a3e",
              "leftValue": "={{ $json[\"components\"].some(c => c.name === $node[\"Prepare SonarCloud Project\"].json[\"project\"]) }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -208
      ],
      "id": "c839ec5e-e857-43f5-97a4-0f2ee02d6d33",
      "name": "SonarCloud Project Exists?"
    },
    {
      "parameters": {
        "url": "=https://sonarcloud.io/api/measures/component?component={{ $node[\"Prepare SonarCloud Project\"].json[\"project\"]}}&branch={{ $node[\"When Executed by Another Workflow\"].json[\"branch\"]}}&metricKeys=complexity,cognitive_complexity,code_smells,duplicated_lines_density,ncloc,functions,classes,function_complexity,file_complexity,technical_debt,technical_debt_ratio&qualifiers=TRK",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        -224
      ],
      "id": "568a399e-7d2a-4e8f-a272-8f7d47100561",
      "name": "SonarCloud Analysis Results",
      "credentials": {
        "httpBearerAuth": {
          "id": "tZEU08zabP2OGRll",
          "name": "SonarQube Cloud Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/api/sonar/analyze",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization",
              "value": "={{ $node[\"Prepare SonarCloud Project\"].json[\"organization\"]}}"
            },
            {
              "name": "projectKey",
              "value": "={{ $node[\"Prepare SonarCloud Project\"].json[\"project\"]}}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "repoZip",
              "inputDataFieldName": "repository"
            },
            {
              "name": "branch",
              "value": "={{ $node[\"When Executed by Another Workflow\"].json[\"branch\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -224
      ],
      "id": "98f8f89e-9b82-4e9e-a367-e7aa4657e5db",
      "name": "Run SonarCloud Analysis",
      "notesInFlow": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "tZEU08zabP2OGRll",
          "name": "SonarQube Cloud Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1248,
        -208
      ],
      "id": "375bbd25-4030-4e2d-be0f-94aebaeccd63",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const organization = \"[sonar_organization]\";\nconst project = \"[sonar_project]\"\nconst name = \"[sonar_name]\"\n\nconst repository = $node[\"When Executed by Another Workflow\"].json.repository;\nconst branch = $node[\"When Executed by Another Workflow\"].json.branch;\n\nreturn [\n  {\n    json: {\n      organization,\n      project,\n      name,\n      repository,\n      branch\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -208
      ],
      "id": "29f11fa2-93b7-4715-b915-d55f7f54b687",
      "name": "Prepare SonarCloud Project"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $node[\"When Executed by Another Workflow\"].json[\"repository\"]}}/zipball/{{ $node[\"When Executed by Another Workflow\"].json[\"branch\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "repository"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -224
      ],
      "id": "4c25a96b-f0b0-4a6d-b0c3-9f909592a2e4",
      "name": "Download Repository ZIP",
      "credentials": {
        "httpBearerAuth": {
          "id": "tZEU08zabP2OGRll",
          "name": "SonarQube Cloud Bearer Auth account"
        },
        "githubApi": {
          "id": "jFgjSdNtWWIi5k0G",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const caller = $node[\"When Executed by Another Workflow\"].json;\n\nreturn $input.all().map(item => ({\n  json: {\n    repository: caller.repository,\n    branch: caller.branch,\n    commit: caller.commit,\n    static_analysis: {\n      ...item.json\n    }\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -224
      ],
      "id": "eda113ef-39bd-4b75-92c2-b2b0ddf8f0eb",
      "name": "Format Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Existing SonarCloud Projects": {
      "main": [
        [
          {
            "node": "SonarCloud Project Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SonarCloud Project": {
      "main": [
        [
          {
            "node": "Download Repository ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SonarCloud Project Exists?": {
      "main": [
        [
          {
            "node": "Download Repository ZIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create SonarCloud Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run SonarCloud Analysis": {
      "main": [
        [
          {
            "node": "SonarCloud Analysis Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare SonarCloud Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SonarCloud Analysis Results": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SonarCloud Project": {
      "main": [
        [
          {
            "node": "Check Existing SonarCloud Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Repository ZIP": {
      "main": [
        [
          {
            "node": "Run SonarCloud Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bb9e2df-a8fc-4766-a0ac-fe1156a8f00a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16c5a0d06e53775a97009d056c3cc64dfb112467542c23766a5da5af80993f84"
  },
  "id": "kDCbxUoVIfXC5wRU",
  "tags": []
}